<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="jumbotron text-center">
  <h1>Aplikacje w chmurze</h1>
  <% results.forEach(function(r) { %>
    <li><%= r.id %> - <%= r.firstname %> - <%= r.age %></li>
<% }); %>
</div>


</body>
</html>
